body {
  padding: 0;
  margin: 0;
}

header {
  font-size: 2rem;
  background-color: #ffffd1;
  text-align: center;
  font-family: "Jost", sans-serif;
  color: #ffabab;
  width: 100vw;
}

.products {
  display: grid;
  grid-template-columns: 255px 255px 255px 255px;
  grid-template-rows: 370px 370px;
  grid-column-gap: 100px;
  grid-row-gap: 5px;
  margin-left: auto;
  margin-right: auto;
}

section {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
}

/*
.section-one,
.section-two {
  display: flex;
  justify-content: center;
}

.item-info {
  flex-wrap: wrap;
}*/

figure {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.prod-1 {
  grid-row-start: 1;
  grid-column-start: 1;
  grid-row-end: 2;
  grid-column-end: 2;
}
.prod-2 {
  grid-row-start: 1;
  grid-column-start: 2;
  grid-row-end: 2;
  grid-column-end: 3;
}
.prod-3 {
  grid-row-start: 1;
  grid-column-start: 3;
  grid-row-end: 2;
  grid-column-end: 4;
}
.prod-4 {
  grid-row-start: 1;
  grid-column-start: 4;
  grid-row-end: 2;
  grid-column-end: 5;
}
.prod-5 {
  grid-row-start: 2;
  grid-column-start: 1;
  grid-row-end: 3;
  grid-column-end: 2;
}
.prod-6 {
  grid-row-start: 2;
  grid-column-start: 2;
  grid-row-end: 3;
  grid-column-end: 3;
}
.prod-7 {
  grid-row-start: 2;
  grid-column-start: 3;
  grid-row-end: 3;
  grid-column-end: 4;
}
.prod-8 {
  grid-row-start: 2;
  grid-column-start: 4;
  grid-row-end: 3;
  grid-column-end: 5;
}

img {
  height: 100px;
  width: 100px;
  object-fit: contain;
}

.item-info {
  font-family: "Jost", sans-serif;
  text-align: center;
}

h2 {
  font-size: 1.2rem;
  color: #ffbebc;
  background-color: #ffffed;
}

.price {
  font-size: 0.8rem;
}

a {
  text-decoration: none;
  color: #ffabab;
  background-color: #ffffd1;
  border: 1px solid #ffabab;
  padding: 5px;
}
