body {
  margin: 0;
  padding: 0;
}

img {
  height: 18vh;
  width: 40vw;
  position: fixed;
  float: left;
}

table {
  height: 100vh;
  width: 100vw;
  position: relative;
  padding-right: "images-width";
}

.shorter {
  width: 60vw;
  height: 18vh;
  float: right;
}

.longer {
  width: 100vw;
  height: 18vh;
}

.red {
  background-color: red;
}

.white {
  background-color: white;
}
