body {
  margin: 0;
  padding: 0;
}

img {
  height: 80%;
  width: 30%;
  position: relative;
  float: left;
}

table {
  height: 456px;
  width: 800px;
  position: relative;
  padding-right: "images-width";
}

.shorter {
  width: 70%;
  height: 245px;
  float: right;
}

.longer {
  width: 100%;
  height: 205px;
}

.red {
  background-color: red;
}

.white {
  background-color: white;
}
